<a href="https://colab.research.google.com/github/harshad-leo/Dissertation_MA981/blob/main/CollaborativeFiltering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Traditional Model using Collaborative Filtering

In [1]:
  from google.colab import drive
  drive.mount('drive')
  PATH = '/content/drive/MyDrive/RecommendationSystems/'

Mounted at drive

In [2]:
%autosave 30

Autosaving every 30 seconds

In [3]:
import numpy as np
import pandas as pd
from scipy.sparse.linalg import svds

In [4]:
enc = 'latin-1'
movies = pd.read_csv(PATH + "ml-25m/movies.csv", sep = "\t",  encoding = enc)
ratings = pd.read_csv(PATH + "ml-25m/ratings.csv", sep = "\t",  encoding = enc)
users = pd.read_csv(PATH + "ml-25m/users.csv", sep = "\t",  encoding = enc)
df = pd.read_csv(PATH + "ml-25m/main_merged.csv")

In [5]:
df.head(10)

   Unnamed: 0  movie_id  ...  age_desc      occ_desc
0           0         1  ...  Under 18  K-12 student
1           1        48  ...  Under 18  K-12 student
2           2       150  ...  Under 18  K-12 student
3           3       260  ...  Under 18  K-12 student
4           4       527  ...  Under 18  K-12 student
5           5       531  ...  Under 18  K-12 student
6           6       588  ...  Under 18  K-12 student
7           7       594  ...  Under 18  K-12 student
8           8       595  ...  Under 18  K-12 student
9           9       608  ...  Under 18  K-12 student

[10 rows x 14 columns]

In [6]:
df.shape

(1000209, 14)

## Maing a pivot table based on user and the data
<ul>
  <li>It estabilish rating of a user to a perticular movie in a tabular format</li>
  <li>The matrix obtained will be sparsed</li>
  <li>Around 95% of the values are 0</li>
  <li>A value of 0 signifies that the user hasn't watched the movie</li>

In [7]:
rate = ratings.pivot(index = 'user_id', columns ='movie_id', values = 'rating').fillna(0)
rate

movie_id  1     2     3     4     5     ...  3948  3949  3950  3951  3952
user_id                                 ...
1          5.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
2          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
3          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
4          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
5          0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
...        ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
6036       0.0   0.0   0.0   2.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
6037       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
6038       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
6039       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
6040       3.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0

[6040 rows x 3706 columns]

In [8]:
%%time
mean = np.mean(rate.values, axis = 1)
unit, sig, vect = svds(rate.values - mean.reshape(-1, 1), k = 50)
sig = np.diag(sig)

CPU times: user 8.95 s, sys: 5.75 s, total: 14.7 s
Wall time: 7.62 s

In [9]:
preds = pd.DataFrame(np.dot(np.dot(unit, sig), vect) + mean.reshape(-1, 1), columns = rate.columns)

In [10]:
preds.set_index(np.array(preds.index) + 1, inplace = True)
preds

movie_id      1         2         3     ...      3950      3951      3952
1         4.288861  0.143055 -0.195080  ...  0.031912  0.050450  0.088910
2         0.744716  0.169659  0.335418  ... -0.101102 -0.054098 -0.140188
3         1.818824  0.456136  0.090978  ...  0.012345  0.015148 -0.109956
4         0.408057 -0.072960  0.039642  ... -0.026050  0.014841 -0.034224
5         1.574272  0.021239 -0.051300  ...  0.033830  0.125706  0.199244
...            ...       ...       ...  ...       ...       ...       ...
6036      2.392388  0.233964  0.413676  ...  0.271234  0.244983  0.734771
6037      2.070760  0.139294 -0.012666  ...  0.050798 -0.113427  0.033283
6038      0.619089 -0.161769  0.106738  ... -0.013369 -0.030354 -0.114936
6039      1.503605 -0.036208 -0.161268  ... -0.010904 -0.038647 -0.168359
6040      1.996248 -0.185987 -0.156478  ... -0.006641  0.127067  0.285001

[6040 rows x 3706 columns]

## Recommendation on User ID

In [11]:
def movie_recommender( userID, preds, movies, original_ratings, nor = 10):
    
    row = userID - 1 
    sorted_preds = preds.iloc[row].sort_values(ascending=False) 
    user_data = original_ratings[original_ratings.user_id == (userID)]
    user_full = (user_data.merge(movies, how = 'left', left_on = 'movie_id', right_on = 'movie_id').
                     sort_values(['rating'], ascending=False)
                 )
    recommendations = (movies[~movies['movie_id'].isin(user_full['movie_id'])].
         merge(pd.DataFrame(sorted_preds).reset_index(), how = 'left',
               left_on = 'movie_id',
               right_on = 'movie_id').iloc[:nor, :-1])
                    
    
    return user_full, recommendations

In [12]:
uid = int(input("Enter User Id: "))
already_rated, predict = movie_recommender(uid, preds, movies, ratings, 10)

Enter User Id: 40

In [13]:
already_rated.head(10)

    Unnamed: 0_x  ...                               genres
0           5582  ...        Adventure|Animation|Film-Noir
78          5660  ...  Adventure|Children's|Comedy|Fantasy
24          5606  ...               Action|Adventure|Drama
63          5645  ...           Adventure|Children's|Drama
66          5648  ...                        Adventure|War
69          5651  ...         Action|Adventure|Romance|War
39          5621  ...                    Drama|Romance|War
18          5600  ...                            Drama|War
32          5614  ...                     Action|Adventure
57          5639  ...                  Sci-Fi|Thriller|War

[10 rows x 10 columns]

In [14]:
predict

   Unnamed: 0  ...                       genres
0           0  ...  Animation|Children's|Comedy
1           2  ...               Comedy|Romance
2           3  ...                 Comedy|Drama
3           4  ...                       Comedy
4           5  ...        Action|Crime|Thriller
5           6  ...               Comedy|Romance
6           7  ...         Adventure|Children's
7           8  ...                       Action
8           9  ...    Action|Adventure|Thriller
9          10  ...         Comedy|Drama|Romance

[10 rows x 4 columns]

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(movies['genres'])
tfidf_matrix.shape

(3883, 127)

In [16]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim[:4, :4]

array([[1.        , 0.14193614, 0.09010857, 0.1056164 ],
       [0.14193614, 1.        , 0.        , 0.        ],
       [0.09010857, 0.        , 1.        , 0.1719888 ],
       [0.1056164 , 0.        , 0.1719888 , 1.        ]])

In [17]:
indices = pd.Series(movies.index, index=movies['title'])
def genre_based_recommendations(title):
    return movies['title'].iloc[[i[0] for i in sorted(list(enumerate(cosine_sim[indices[title]])), key=lambda x: x[1], reverse=True)[1:21]]]

In [18]:
genre_based_recommendations('Two Bits (1995)').head(20)

25                                        Othello (1995)
26                                   Now and Then (1995)
29     Shanghai Triad (Yao a yao yao dao waipo qiao) ...
30                                Dangerous Minds (1995)
35                               Dead Man Walking (1995)
39                       Cry, the Beloved Country (1995)
42                                    Restoration (1995)
52                                       Lamerica (1994)
54                                        Georgia (1995)
56                          Home for the Holidays (1995)
61                             Mr. Holland's Opus (1995)
66                                       Two Bits (1995)
77                            Crossing Guard, The (1995)
79          White Balloon, The (Badkonake Sefid ) (1995)
81                       Antonia's Line (Antonia) (1995)
82       Once Upon a Time... When We Were Colored (1995)
89                    Journey of August King, The (1995)
92                                Beautiful Girls (1996)
95                               Hate (Haine, La) (1995)
112                             Margaret's Museum (1995)
Name: title, dtype: object